@import "tailwindcss";

@theme {
    --color-primary: #10b77f;
    --color-accent-blue: #8daef4;
    --color-background-light: #f8fafc;
    --color-surface-light: #ffffff;
    --font-display: "Inter", sans-serif;

    --radius-xs: 0.125rem;
    --radius-sm: 0.25rem;
    --radius-md: 0.375rem;
    --radius-lg: 0.5rem;
    --radius-xl: 1rem;
    --radius-2xl: 1.5rem;
    --radius-3xl: 2rem;
}

@layer utilities {
    .mesh-gradient {
        background-color: #ffffff;
        background-image:
            radial-gradient(at 0% 0%, hsla(161, 84%, 39%, 0.1) 0px, transparent 50%),
            radial-gradient(at 100% 0%, hsla(220, 80%, 75%, 0.1) 0px, transparent 50%),
            radial-gradient(at 100% 100%, hsla(161, 84%, 39%, 0.05) 0px, transparent 50%),
            radial-gradient(at 0% 100%, hsla(220, 80%, 75%, 0.05) 0px, transparent 50%);
    }

    .mesh-gradient-bg {
        background-color: #f9fafb;
        background-image:
            radial-gradient(at 0% 0%, hsla(161, 84%, 39%, 0.03) 0px, transparent 50%),
            radial-gradient(at 100% 0%, hsla(220, 80%, 75%, 0.03) 0px, transparent 50%);
    }

    .gauge-path {
        stroke-dasharray: 100, 100;
        stroke-linecap: round;
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .segmented-control input:checked+label {
        @apply bg-white text-slate-900 shadow-sm;
    }

    .soft-shadow {
        box-shadow: 0 10px 30px -5px rgba(16, 183, 127, 0.3);
    }

    .donut-segment {
        transition: stroke-dashoffset 0.35s;
        transform: rotate(-90deg);
        transform-origin: 50% 50%;
    }
}

body {
    min-height: max(884px, 100dvh);
}